# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [2]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [3]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [4]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [5]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [6]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a   -0.458808
b   -0.090358
c    0.314011
d    1.752060
e   -0.474080
dtype: float64
a         NaN
b   -0.180716
c    0.628023
d    3.504120
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas has a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [7]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2022,11,30,10,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 30 2022'
# or alternatively
date = '30/11/2022 10:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2022-11-30
2022-11-30 10:45:10.000015
30/11/2022 10:45:00
DatetimeIndex(['2022-11-30 10:45:00', '2022-12-01 10:45:00',
               '2022-12-02 10:45:00', '2022-12-03 10:45:00',
               '2022-12-04 10:45:00', '2022-12-05 10:45:00',
               '2022-12-06 10:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2022-11-30 10:45:00', '2022-11-30 10:45:01',
               '2022-11-30 10:45:02', '2022-11-30 10:45:03',
               '2022-11-30 10:45:04', '2022-11-30 10:45:05',
               '2022-11-30 10:45:06', '2022-11-30 10:45:07',
               '2022-11-30 10:45:08', '2022-11-30 10:45:09',
               ...
               '2022-11-30 11:44:50', '2022-11-30 11:44:51',
               '2022-11-30 11:44:52', '2022-11-30 11:44:53',
               '2022-11-30 11:44:54', '2022-11-30 11:44:55',
               '2022-11-30 11:44:56', '2022-11-30 11:44:57',
               '2022-11-30 11:44:58', '2022-11-30 11:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset.

Timestamp is the pandas equivalent of pythonâ€™s Datetime and is interchangeable with it in most cases.

In [8]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts.value)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
1289520000000000000
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [9]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2022-11-30':'2022-12-01'], '\n') # Note - includes end time

2022-11-30 10:45:00    10.267804
2022-12-01 10:45:00    11.250941
2022-12-02 10:45:00    10.619490
2022-12-03 10:45:00    11.640075
Freq: D, dtype: float64

2022-11-30 10:45:00    10.267804
2022-12-01 10:45:00    11.250941
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [10]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

N.B. we have the so-called "indexes" for the rows and "names" for columns

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [13]:
entries=10
dates=pd.date_range('11/30/2022 10:45:00',freq='h', periods=entries)  #freq = h means that between rows there's a gap of 1 hour
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2022-11-30 10:45:00  0.526960 -0.816788 -1.135461  0.426838
2022-11-30 11:45:00  1.375159  0.489238 -0.699248 -2.546532
2022-11-30 12:45:00  1.136615  0.639126  0.434495 -0.047729
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052 -0.561798
2022-11-30 14:45:00 -1.069958  0.779008  1.669091 -0.016119
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947 -1.397607
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  0.682018
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  0.018908
2022-11-30 18:45:00  1.599270  0.945809 -0.613342 -1.036548
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  0.882076

or by means of a dictionary:

In [14]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

# check what happens if D and E had different lenghts

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [15]:
df.head(2)

                            A         B         C         D
2022-11-30 10:45:00  0.526960 -0.816788 -1.135461  0.426838
2022-11-30 11:45:00  1.375159  0.489238 -0.699248 -2.546532

In [16]:
df.tail(4)

                            A         B         C         D
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  0.682018
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  0.018908
2022-11-30 18:45:00  1.599270  0.945809 -0.613342 -1.036548
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  0.882076

In [17]:
df.index

DatetimeIndex(['2022-11-30 10:45:00', '2022-11-30 11:45:00',
               '2022-11-30 12:45:00', '2022-11-30 13:45:00',
               '2022-11-30 14:45:00', '2022-11-30 15:45:00',
               '2022-11-30 16:45:00', '2022-11-30 17:45:00',
               '2022-11-30 18:45:00', '2022-11-30 19:45:00'],
              dtype='datetime64[ns]', freq='H')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.values

array([[ 0.52696007, -0.81678796, -1.13546139,  0.42683801],
       [ 1.37515879,  0.48923837, -0.69924786, -2.54653217],
       [ 1.13661504,  0.63912619,  0.43449532, -0.04772901],
       [-1.52321013,  0.77544197, -0.44605152, -0.56179839],
       [-1.06995753,  0.77900783,  1.66909136, -0.01611887],
       [ 1.76162686, -2.33043586, -0.53994663, -1.39760725],
       [-0.43765571, -0.39607618, -0.75077791,  0.6820184 ],
       [-1.01844436, -0.02263458, -0.39324307,  0.0189078 ],
       [ 1.59927035,  0.94580898, -0.61334181, -1.03654817],
       [-1.01308456,  0.10555768, -1.37979838,  0.88207589]])

In [20]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.133728   0.016825  -0.385428  -0.359649
std     1.276405   1.000796   0.866421   1.052141
min    -1.523210  -2.330436  -1.379798  -2.546532
25%    -1.017104  -0.302716  -0.737895  -0.917861
50%     0.044652   0.297398  -0.576644  -0.031924
75%     1.315523   0.741363  -0.406445   0.324855
max     1.761627   0.945809   1.669091   0.882076

In [21]:
df.T

,2022-11-30 10:45:00,2022-11-30 11:45:00,2022-11-30 12:45:00,2022-11-30 13:45:00,2022-11-30 14:45:00,2022-11-30 15:45:00,2022-11-30 16:45:00,2022-11-30 17:45:00,2022-11-30 18:45:00,2022-11-30 19:45:00
A,0.526960,1.375159,1.136615,-1.523210,-1.069958,1.761627,-0.437656,-1.018444,1.599270,-1.013085
B,-0.816788,0.489238,0.639126,0.775442,0.779008,-2.330436,-0.396076,-0.022635,0.945809,0.105558
C,-1.135461,-0.699248,0.434495,-0.446052,1.669091,-0.539947,-0.750778,-0.393243,-0.613342,-1.379798
D,0.426838,-2.546532,-0.047729,-0.561798,-0.016119,-1.397607,0.682018,0.018908,-1.036548,0.882076

In [22]:
df.sort_index(axis=0,ascending=True)

                            A         B         C         D
2022-11-30 10:45:00  0.526960 -0.816788 -1.135461  0.426838
2022-11-30 11:45:00  1.375159  0.489238 -0.699248 -2.546532
2022-11-30 12:45:00  1.136615  0.639126  0.434495 -0.047729
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052 -0.561798
2022-11-30 14:45:00 -1.069958  0.779008  1.669091 -0.016119
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947 -1.397607
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  0.682018
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  0.018908
2022-11-30 18:45:00  1.599270  0.945809 -0.613342 -1.036548
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  0.882076

In [23]:
df.sort_values(by="C")  #C elements are ordered but the others are no more

                            A         B         C         D
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  0.882076
2022-11-30 10:45:00  0.526960 -0.816788 -1.135461  0.426838
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  0.682018
2022-11-30 11:45:00  1.375159  0.489238 -0.699248 -2.546532
2022-11-30 18:45:00  1.599270  0.945809 -0.613342 -1.036548
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947 -1.397607
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052 -0.561798
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  0.018908
2022-11-30 12:45:00  1.136615  0.639126  0.434495 -0.047729
2022-11-30 14:45:00 -1.069958  0.779008  1.669091 -0.016119

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [24]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column.. for ex "A prime")
print (df.A)

2022-11-30 10:45:00    0.526960
2022-11-30 11:45:00    1.375159
2022-11-30 12:45:00    1.136615
2022-11-30 13:45:00   -1.523210
2022-11-30 14:45:00   -1.069958
2022-11-30 15:45:00    1.761627
2022-11-30 16:45:00   -0.437656
2022-11-30 17:45:00   -1.018444
2022-11-30 18:45:00    1.599270
2022-11-30 19:45:00   -1.013085
Freq: H, Name: A, dtype: float64

2022-11-30 10:45:00    0.526960
2022-11-30 11:45:00    1.375159
2022-11-30 12:45:00    1.136615
2022-11-30 13:45:00   -1.523210
2022-11-30 14:45:00   -1.069958
2022-11-30 15:45:00    1.761627
2022-11-30 16:45:00   -0.437656
2022-11-30 17:45:00   -1.018444
2022-11-30 18:45:00    1.599270
2022-11-30 19:45:00   -1.013085
Freq: H, Name: A, dtype: float64

In [ ]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2022-11-30 10:45:00":"2022-11-30 12:45:00"])

### Selection by label

In [25]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]  #returns a single row

A    0.526960
B   -0.816788
C   -1.135461
D    0.426838
Name: 2022-11-30 10:45:00, dtype: float64

In [26]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
#a=df.loc[:,['A','B']]

                            A         B
2022-11-30 10:45:00  0.526960 -0.816788
2022-11-30 11:45:00  1.375159  0.489238
2022-11-30 12:45:00  1.136615  0.639126
2022-11-30 13:45:00 -1.523210  0.775442
2022-11-30 14:45:00 -1.069958  0.779008
2022-11-30 15:45:00  1.761627 -2.330436
2022-11-30 16:45:00 -0.437656 -0.396076
2022-11-30 17:45:00 -1.018444 -0.022635
2022-11-30 18:45:00  1.599270  0.945809
2022-11-30 19:45:00 -1.013085  0.105558

In [27]:
# showing label slicing, both endpoints are included:
df.loc['2022-11-30 14:45:00':'2022-11-30 16:45:00',['A','B']]

                            A         B
2022-11-30 14:45:00 -1.069958  0.779008
2022-11-30 15:45:00  1.761627 -2.330436
2022-11-30 16:45:00 -0.437656 -0.396076

In [28]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

1.375158793834782
1.375158793834782

### Selecting by position

In [29]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A   -1.523210
B    0.775442
C   -0.446052
D   -0.561798
Name: 2022-11-30 13:45:00, dtype: float64

                            A         B
2022-11-30 13:45:00 -1.523210  0.775442
2022-11-30 14:45:00 -1.069958  0.779008

In [30]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2022-11-30 11:45:00  1.375159 -0.699248
2022-11-30 12:45:00  1.136615  0.434495
2022-11-30 14:45:00 -1.069958  1.669091

In [31]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2022-11-30 11:45:00  1.375159  0.489238 -0.699248 -2.546532
2022-11-30 12:45:00  1.136615  0.639126  0.434495 -0.047729

                            B         C
2022-11-30 10:45:00 -0.816788 -1.135461
2022-11-30 11:45:00  0.489238 -0.699248
2022-11-30 12:45:00  0.639126  0.434495
2022-11-30 13:45:00  0.775442 -0.446052
2022-11-30 14:45:00  0.779008  1.669091
2022-11-30 15:45:00 -2.330436 -0.539947
2022-11-30 16:45:00 -0.396076 -0.750778
2022-11-30 17:45:00 -0.022635 -0.393243
2022-11-30 18:45:00  0.945809 -0.613342
2022-11-30 19:45:00  0.105558 -1.379798

In [32]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

0.4892383690322737

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [34]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2022-11-30 11:45:00  1.375159  0.489238 -0.699248 -2.546532
2022-11-30 12:45:00  1.136615  0.639126  0.434495 -0.047729
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052 -0.561798
2022-11-30 14:45:00 -1.069958  0.779008  1.669091 -0.016119
2022-11-30 18:45:00  1.599270  0.945809 -0.613342 -1.036548
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  0.882076

In [33]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2022-11-30 10:45:00  0.526960       NaN       NaN  0.426838
2022-11-30 11:45:00  1.375159  0.489238       NaN       NaN
2022-11-30 12:45:00  1.136615  0.639126  0.434495       NaN
2022-11-30 13:45:00       NaN  0.775442       NaN       NaN
2022-11-30 14:45:00       NaN  0.779008  1.669091       NaN
2022-11-30 15:45:00  1.761627       NaN       NaN       NaN
2022-11-30 16:45:00       NaN       NaN       NaN  0.682018
2022-11-30 17:45:00       NaN       NaN       NaN  0.018908
2022-11-30 18:45:00  1.599270  0.945809       NaN       NaN
2022-11-30 19:45:00       NaN  0.105558       NaN  0.882076

### Setting

Combination of selection and setting of values

In [42]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [39]:
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.816788 -1.135461  5  0.0        0  1.000000
2022-11-30 11:45:00  1.375159  0.489238 -0.699248  5  0.5        2  0.999962
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0        4  0.999848
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052  5  1.5        6  0.999657
2022-11-30 14:45:00 -1.069958  0.779008  1.669091  5  2.0        8  0.999391
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  5  3.5       14  0.998135
2022-11-30 18:45:00  1.599270  0.945809 -0.613342  5  4.0       16  0.997564
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  5  4.5       18  0.996917

In [37]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.816788 -1.135461  5  0.0        0  1.000000
2022-11-30 11:45:00  1.375159  0.489238 -0.699248  5  0.5        2  0.999962
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0        4  0.999848
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052  5  1.5        6  0.999657
2022-11-30 14:45:00 -1.069958  0.779008  1.669091  5  2.0        8  0.999391
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  5  3.5       14  0.998135
2022-11-30 18:45:00  1.599270  0.945809 -0.613342  5  4.0       16  0.997564
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  5  4.5       18  0.996917

In [40]:
# another example of global setting
df2=df.copy()

df2[df2>0] = -df2  #Inverts all of negative elements
df2

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.816788 -1.135461 -5  0.0        0 -1.000000
2022-11-30 11:45:00 -1.375159 -0.489238 -0.699248 -5 -0.5       -2 -0.999962
2022-11-30 12:45:00 -1.136615 -0.639126 -0.434495 -5 -1.0       -4 -0.999848
2022-11-30 13:45:00 -1.523210 -0.775442 -0.446052 -5 -1.5       -6 -0.999657
2022-11-30 14:45:00 -1.069958 -0.779008 -1.669091 -5 -2.0       -8 -0.999391
2022-11-30 15:45:00 -1.761627 -2.330436 -0.539947 -5 -2.5      -10 -0.999048
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778 -5 -3.0      -12 -0.998630
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243 -5 -3.5      -14 -0.998135
2022-11-30 18:45:00 -1.599270 -0.945809 -0.613342 -5 -4.0      -16 -0.997564
2022-11-30 19:45:00 -1.013085 -0.105558 -1.379798 -5 -4.5      -18 -0.996917

In [41]:
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.816788 -1.135461  5  0.0        0  1.000000
2022-11-30 11:45:00  1.375159  0.489238 -0.699248  5  0.5        2  0.999962
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0        4  0.999848
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052  5  1.5        6  0.999657
2022-11-30 14:45:00 -1.069958  0.779008  1.669091  5  2.0        8  0.999391
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  5  3.5       14  0.998135
2022-11-30 18:45:00  1.599270  0.945809 -0.613342  5  4.0       16  0.997564
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  5  4.5       18  0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [43]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
new_df=df.drop(columns=['E prime'])
new_df

                            A         B         C  D    E    cosine
2022-11-30 10:45:00  0.000000 -0.816788 -1.135461  5  0.0  1.000000
2022-11-30 11:45:00  1.375159  0.489238 -0.699248  5  0.5  0.999962
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0  0.999848
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052  5  1.5  0.999657
2022-11-30 14:45:00 -1.069958  0.779008  1.669091  5  2.0  0.999391
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947  5  2.5  0.999048
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  5  3.0  0.998630
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  5  3.5  0.998135
2022-11-30 18:45:00  1.599270  0.945809 -0.613342  5  4.0  0.997564
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  5  4.5  0.996917

In [44]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.816788 -1.135461  5  0.0        0  1.000000
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  5  3.5       14  0.998135
2022-11-30 18:45:00  1.599270  0.945809 -0.613342  5  4.0       16  0.997564
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  5  4.5       18  0.996917

In [45]:
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.816788 -1.135461  5  0.0        0  1.000000
2022-11-30 11:45:00  1.375159  0.489238 -0.699248  5  0.5        2  0.999962
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0        4  0.999848
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052  5  1.5        6  0.999657
2022-11-30 14:45:00 -1.069958  0.779008  1.669091  5  2.0        8  0.999391
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  5  3.5       14  0.998135
2022-11-30 18:45:00  1.599270  0.945809 -0.613342  5  4.0       16  0.997564
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  5  4.5       18  0.996917

In [46]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2022-11-30 18:45:00"))

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.816788 -1.135461  5  0.0        0  1.000000
2022-11-30 11:45:00  1.375159  0.489238 -0.699248  5  0.5        2  0.999962
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0        4  0.999848
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052  5  1.5        6  0.999657
2022-11-30 14:45:00 -1.069958  0.779008  1.669091  5  2.0        8  0.999391
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  5  3.5       14  0.998135
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [47]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00       NaN       NaN       NaN  5  NaN      NaN  1.000000
2022-11-30 11:45:00  1.375159  0.489238       NaN  5  0.5      2.0  0.999962
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0      4.0  0.999848
2022-11-30 13:45:00       NaN  0.775442       NaN  5  1.5      6.0  0.999657
2022-11-30 14:45:00       NaN  0.779008  1.669091  5  2.0      8.0  0.999391
2022-11-30 15:45:00  1.761627       NaN       NaN  5  2.5     10.0  0.999048
2022-11-30 16:45:00       NaN       NaN       NaN  5  3.0     12.0  0.998630
2022-11-30 17:45:00       NaN       NaN       NaN  5  3.5     14.0  0.998135
2022-11-30 18:45:00  1.599270  0.945809       NaN  5  4.0     16.0  0.997564
2022-11-30 19:45:00       NaN  0.105558       NaN  5  4.5     18.0  0.996917

In [48]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                            A         B         C  D    E  E prime    cosine
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0      4.0  0.999848

In [49]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2022-11-30 10:45:00   True   True   True  False   True     True   False
2022-11-30 11:45:00  False  False   True  False  False    False   False
2022-11-30 12:45:00  False  False  False  False  False    False   False
2022-11-30 13:45:00   True  False   True  False  False    False   False
2022-11-30 14:45:00   True  False  False  False  False    False   False
2022-11-30 15:45:00  False   True   True  False  False    False   False
2022-11-30 16:45:00   True   True   True  False  False    False   False
2022-11-30 17:45:00   True   True   True  False  False    False   False
2022-11-30 18:45:00  False  False   True  False  False    False   False
2022-11-30 19:45:00   True  False   True  False  False    False   False

In [50]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000  0.000000  0.000000  5  0.0      0.0  1.000000
2022-11-30 11:45:00  1.375159  0.489238  0.000000  5  0.5      2.0  0.999962
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0      4.0  0.999848
2022-11-30 13:45:00  0.000000  0.775442  0.000000  5  1.5      6.0  0.999657
2022-11-30 14:45:00  0.000000  0.779008  1.669091  5  2.0      8.0  0.999391
2022-11-30 15:45:00  1.761627  0.000000  0.000000  5  2.5     10.0  0.999048
2022-11-30 16:45:00  0.000000  0.000000  0.000000  5  3.0     12.0  0.998630
2022-11-30 17:45:00  0.000000  0.000000  0.000000  5  3.5     14.0  0.998135
2022-11-30 18:45:00  1.599270  0.945809  0.000000  5  4.0     16.0  0.997564
2022-11-30 19:45:00  0.000000  0.105558  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [51]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00       NaN       NaN       NaN  5  NaN      NaN  1.000000
2022-11-30 11:45:00  1.375159  0.489238       NaN  5  0.5      2.0  0.999962
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0      4.0  0.999848
2022-11-30 13:45:00  1.136615  0.775442  0.434495  5  1.5      6.0  0.999657
2022-11-30 14:45:00  1.136615  0.779008  1.669091  5  2.0      8.0  0.999391
2022-11-30 15:45:00  1.761627  0.779008  1.669091  5  2.5     10.0  0.999048
2022-11-30 16:45:00  1.761627  0.779008  1.669091  5  3.0     12.0  0.998630
2022-11-30 17:45:00  1.761627  0.779008  1.669091  5  3.5     14.0  0.998135
2022-11-30 18:45:00  1.599270  0.945809  1.669091  5  4.0     16.0  0.997564
2022-11-30 19:45:00  1.599270  0.105558  1.669091  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [53]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')  #doesn't have much sense

A          0.081032
B          0.016825
C         -0.385428
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2022-11-30 10:45:00    0.578250
2022-11-30 11:45:00    1.380730
2022-11-30 12:45:00    1.887155
2022-11-30 13:45:00    1.757977
2022-11-30 14:45:00    2.482505
2022-11-30 15:45:00    2.484328
2022-11-30 16:45:00    2.773446
2022-11-30 17:45:00    3.151973
2022-11-30 18:45:00    3.989900
2022-11-30 19:45:00    3.744227
Freq: H, dtype: float64

In [54]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.816788 -1.135461   5   0.0        0  1.000000
2022-11-30 11:45:00  1.375159 -0.327550 -1.834709  10   0.5        2  1.999962
2022-11-30 12:45:00  2.511774  0.311577 -1.400214  15   1.5        6  2.999810
2022-11-30 13:45:00  0.988564  1.087019 -1.846265  20   3.0       12  3.999467
2022-11-30 14:45:00 -0.081394  1.866026 -0.177174  25   5.0       20  4.998858
2022-11-30 15:45:00  1.680233 -0.464409 -0.717121  30   7.5       30  5.997906
2022-11-30 16:45:00  1.242577 -0.860486 -1.467899  35  10.5       42  6.996536
2022-11-30 17:45:00  0.224133 -0.883120 -1.861142  40  14.0       56  7.994670
2022-11-30 18:45:00  1.823403  0.062689 -2.474484  45  18.0       72  8.992234
2022-11-30 19:45:00  0.810319  0.168246 -3.854282  50  22.5       90  9.989152

In [55]:
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.816788 -1.135461  5  0.0        0  1.000000
2022-11-30 11:45:00  1.375159  0.489238 -0.699248  5  0.5        2  0.999962
2022-11-30 12:45:00  1.136615  0.639126  0.434495  5  1.0        4  0.999848
2022-11-30 13:45:00 -1.523210  0.775442 -0.446052  5  1.5        6  0.999657
2022-11-30 14:45:00 -1.069958  0.779008  1.669091  5  2.0        8  0.999391
2022-11-30 15:45:00  1.761627 -2.330436 -0.539947  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.437656 -0.396076 -0.750778  5  3.0       12  0.998630
2022-11-30 17:45:00 -1.018444 -0.022635 -0.393243  5  3.5       14  0.998135
2022-11-30 18:45:00  1.599270  0.945809 -0.613342  5  4.0       16  0.997564
2022-11-30 19:45:00 -1.013085  0.105558 -1.379798  5  4.5       18  0.996917

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [57]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2022-11-30 10:45:00   -0.816788
2022-11-30 11:45:00    1.864397
2022-11-30 12:45:00    1.775741
2022-11-30 13:45:00   -0.747768
2022-11-30 14:45:00   -0.290950
2022-11-30 15:45:00   -0.568809
2022-11-30 16:45:00   -0.833732
2022-11-30 17:45:00   -1.041079
2022-11-30 18:45:00    2.545079
2022-11-30 19:45:00   -0.907527
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [61]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/Data/data_000637.txt"
data=pd.read_csv(file_name)
data

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Alberto_Saretto/DataLab/data_000637.txt'

Let's now do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
data['timens']

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
print(left)
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
print(right)
pd.merge(left,right,on="key")

## Grouping

By â€œgroup byâ€ we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method â€œcompressesâ€ a level in the DataFrameâ€™s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
pdf = pdf.cumsum()
plt.figure(); pdf.plot(); plt.legend(loc='best')